@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


.nav{
    color: #000;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em; 
}

.nav__item{
    color: #000000;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
    content: "";
    display: block;
    background: #990000;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
    -webkit-transition: clip-path .5s;
    -moz-transition: clip-path .5s;
    -ms-transition: clip-path .5s;
    -o-transition: clip-path .5s;
}

.nav__item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}

/* main */
.principal, .modalidades__card, .contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
}

.principal__de {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-info__logo{
    width: 50vw;
    border-radius: 50%;
    margin-top: .625rem;
    box-shadow: 0 0 .3125rem .3125rem rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content-info__title{
    text-align: center;
    margin-top: .625rem;
    font-size: 2.5rem;
}

.content-info__p{
    font-weight: .9375rem;
    font-weight: normal;
    font-style: italic;
}

.principal__iz{
    margin-top: .625rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cta__title{
    font-size: 1.5625rem;
}

.cta__btn{
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #990100;
    border: none;
    color: #fff;
    width: 40vw;
    height: auto;
    font-size: 1.25rem;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.300);
    margin-bottom: .3125rem;
}

.cta__btn:hover{
    box-shadow: none;
    background-color: #000;
    color: #fff;
}

/* sobre nosotros */

.about-us .mision{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: row;
}

.about-us__img, .mision__img, .img{
    display: block;
    width: 95vw;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 .625rem .3125rem rgba(0, 0, 0, .200);
}

.about-us__p--container, .modalidades__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__title, .gallery__title{
    width: 50vw;
    text-align: center;
    margin-top: 1.25rem;
    border-bottom: .1875rem solid #990100;
}

.about-us__p, .mision__p{
    text-align: justify;
    padding: 20px;
}


/* instructores */
.masters__title{
    flex-direction: column;
    align-items: center;
}

.title, .mision__title, .gallery__title, .modalidades__title{
    margin: 0 auto;
    width: 70vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: .1875rem solid #990100;
    text-align: center;
}

.masters__title{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px 10px;
}

.master__js,
.master__ch,
.master__fm{
    max-width: 18.75rem;
    margin-bottom: 3.125rem;
    background:#fff;
    padding: 40px 30px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 0 0px 10px rgba(198, 198, 198, 0.600);
    transition: all 400ms ease 4px;
}

.master__js:hover,
.master__ch:hover,
.master__fm:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.200);
    transform: translatey(-3%);
}

.masters__imagenes{
    position: relative;
    top:-60px;
    left: -20px;
    min-width: 260px;
    height: 300px;
    z-index: 1;
    box-shadow: 0 6px 10px #00000058;
    background-color: #9B9D9A;
}

.masters__informacion{
    margin-top: -45px;
}

.masters__imagenes img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 4px;
    max-height: 300px;
    min-width: 200px;
    object-fit: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/*  nuestra mision */
.mision__container{
    display: flex;
    flex-direction: column;
}

.mision__title{
    width: 50vw;
}

.mision__p{
    margin-top: -1.25rem;
}


/* competenicas */

.gallery__title{
    width: 45vw;
}

.gallery{
    max-width: 100vw;
    padding: 1.25rem;
    background-color: #000;
    columns: 5 18.75rem;
    column-gap: 0.5em;
    margin-bottom: 0.5em;
}
.gallery img{
    max-width: 100%;
    outline: .125rem solid #990100;
    outline-offset: -0.625rem;
}

/* modalidades */

.img{
    margin-top: 0;
}

.modalidades__title{
    width: 40vw;
}

.text{
    margin: 30px;
    text-align: justify;
    line-height: 25px;
}


.modalidades__cta{
    display: inline-flex;
    background-color: #990100;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: .625rem;
    transition: .3s ease all;
    box-shadow: 0 .25rem .1875rem rgba(0, 0, 0, 0.300);
    position: relative;
    margin: 1.25rem 0;
}

.modalidades__cta span{
    z-index: 2;
    position: relative;
    transition: .3s ease all;
    padding: .3125rem .625rem;
}

.modalidades__cta::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 1;
    left: -100%;
    transition: .3s ease-in-out all;
}

.modalidades__cta:hover::after{
    box-shadow: none;
    left:0;
}

/* horario */
.horarios{
    display: block;
    width: 95vw;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 3.125rem;
    box-shadow:0 0 10px #000000a5;
}

/* formulario */
.contact{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(formulario\ bg.jpg);
    background-size: cover;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form{
    margin: 3.125rem;
    background-color: #414141a4;
    box-sizing: border-box;
    padding: .625rem;
    border-radius: .625rem;
}

.contact__h2{
    color: #fff;
    text-align: center;
    margin-bottom: 1.25rem;
}

.contact__input{
    width: 100%;
    margin-bottom: 1.25rem;
    padding: .5rem;
    box-sizing: border-box;
}

.contact__text{
    margin-bottom: 1.25rem;
    resize: none;
}

.contact__input--button{
    color: #fff;
    background-color: #990100;
    border: none;
    border-radius: .3125rem;
    width: 50vw;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.contact__input--button:hover{
    background-color: #000;
    border: .0625rem solid #000;
}

.contact_text{
    min-height: 3.125rem;
    max-height: 6.25rem;
    min-width: 100%;
    max-width: 100%;
}

iframe{
    display: block;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    margin: 20px 0;
}

/* Footer */

.footer{
    background-color: #990100;
    height: 8vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__medias{
    display: flex;
    font-size: xx-large;
    flex-direction: row;
}

.logo{
    display: none;
    width: 4.375rem;
    border-radius: 50%;
    margin-right: 7.5rem;
}

.footer__iconos{
    color: #fff;
    margin-right: 1.875rem;
}
.footer__h3{
    display: none;
}
.footer__iconos:hover{
    color: #000;
}

.footer__menu{
    display: none;
}

.footer__menu a{
    color: #fff;
    margin-right: 3.125rem;
}

.inicio{
    display: flex;
    justify-content: end;
}

.inicio__2{
    color: #fff;
    text-decoration: none;
    font-size: x-large;
}